.main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}

.testSlide {
  width: 200px;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #f0f4f7;
  border: 1px solid #d9e0e7;
  box-shadow: 0 4px 12px rgb(0 0 0 / 8%);

  font-size: 1.25rem;
  font-weight: 600;
  color: #252a36;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}